#loginUI{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signupUI{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 100%;
  background-color: white;
  border-radius: 10px 0 0 10px;
}

.invisible{
  display: none;
}

.expand{
  width: 400px;
  background-color: blue;
  border-radius: 20px;
}

.collapse{
  width: 400px;
  height: 400px;
  background-color: blue;
  border-radius: 20px;
}

.btn1{
  position: absolute;
  height: 50px;
  width: 100px;
  bottom: 100px;
  border-radius: 15px;
  background-color: white;
  border-style: none
}

.signUp{
  position: absolute;
  bottom: 10px;
  color: white;
}

.signUp:hover{
  cursor: pointer;
}
